version: "3.1"
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    working_dir: /var/www/html
    ports:
      - "80:80"
    volumes:
      - ./docker-config/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/var/www/html
    links:
      - node
    env_file: ./.env
    networks:
      - my-app-network

  node:
    image: node:latest
    container_name: node
    working_dir: /application
    volumes:
      - ./backend/:/application
      - ./docker-config/node/start_application.sh:/data/application/start_application.sh
    links:
      - mysql
    depends_on: 
      - mysql
    ports:
      - "8000:8000"
    entrypoint: /data/application/start_application.sh
    env_file: ./.env
    environment:
      "NODE_ENV": "development"
    command:
      bash -c "npm install -g nodemon"
    networks:
      - my-app-network

  mysql:
    env_file: ./.env
    image: mysql:5.7
    container_name: mysql
    volumes:
      - ./database/db:/var/lib/mysql
      - ./docker-config/mysql/docker.cnf:/etc/mysql/conf.d/docker.cnf
      - ./docker-config/mysql/init.sql:/data/application/init.sql
    command: --init-file /data/application/init.sql
    restart: always
    ports:
      - "3306:3306"
    environment:
      "MYSQL_DATABASE": "my_crud"
      "MYSQL_ROOT_PASSWORD": "mypass"
    networks:
      - my-app-network

networks:
  my-app-network:
    driver: bridge