version: "3.7"
services: 
  nginx-mycrud: 
    image: "nginx:1.20.2"
    container_name: nginx-mycrud
    restart: always
    ports:
      - "80:80"
    volumes:
    - ./frontend:/var/www/html
    - ./docker-config/nginx:/etc/nginx/conf.d
     
  node-mycrud:
    image: "node:17-slim"
    container_name: node-mycrud 
    working_dir: /application/app
    volumes:
    - ./backend:/application/app
    - ./docker-config/node:/application
    ports:
      - "8000:8000"
    depends_on: 
      - mysql-mycrud
    entrypoint: /application/start_application.sh
    
  mysql-mycrud:
    image: "mysql:8.0"
    container_name: mysql-mycrud
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: mypass
    volumes:
      - ./db:/var/lib/mysql
      - ./docker-config/mysql/init.sql:/docker-entrypoint-initdb.d/initdb.sql
    restart: always  
    ports:
      - "3306:3306"